<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rymo.</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
</head>
<!-- &#8377; -->

<body>
    <section id="header">
        <a href="index.html"><img src="img/rymo..png " class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a class="active" href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="about-header">
        <div class="about">
            <h2>#know us</h2>
            <p>more</p>
        </div>
    </section>

    <secction id="about-head" class="section-p1">
        <img src="img/about/a6.jpg" alt="">
        <div>
            <h2>Who We Are ?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo facere aspernatur illo dolore dolor
                recusandae obcaecati omnis! Inventore sed, neque porro adipisci voluptas quibusdam assumenda ex laborum
                eligendi beatae corrupti nihil, illo impedit quam magnam animi quia saepe perspiciatis cum? Maxime id ab
                esse ducimus facilis temporibus, impedit at voluptate labore rerum nesciunt soluta repellat iusto aut
                nulla inventore </p>

            <abbr title="">Create stunning images with as much or as little control as you like thanks to a choice of
                Basic and Creative modes.</abbr>
            <br><br>

            <marquee bgcolor="#E3E6F3" loop="-1" scrollamount="5" width="100%">
                <h3><span> rymo. </span>seem to stimulate
                    e-commerce marketing objectives, depending on the product or service, and can be particularly
                    effective,
                    especially from a minimized cost perspective.</h3>
            </marquee>

        </div>
    </secction>

    <secction id="about-head" class="section-p1">
        <img src="img/about/blog2.png" alt="">
        <div>
            <h2>Who We Are ?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo facere aspernatur illo dolore dolor
                recusandae obcaecati omnis! Inventore sed, neque porro adipisci voluptas quibusdam assumenda ex laborum
                eligendi beatae corrupti nihil, illo impedit quam magnam animi quia saepe perspiciatis cum? Maxime id ab
                esse ducimus facilis temporibus, impedit at voluptate labore rerum nesciunt soluta repellat iusto aut
                nulla inventore </p>

            <abbr title="">Create stunning images with as much or as little control as you like thanks to a choice of
                Basic and Creative modes.</abbr>
            <br><br>

            <marquee bgcolor="#E3E6F3" loop="-1" scrollamount="5" width="100%">
                <h3><span> rymo. </span>seem to stimulate
                    e-commerce marketing objectives, depending on the product or service, and can be particularly
                    effective,
                    especially from a minimized cost perspective.</h3>
            </marquee>

        </div>
    </secction>

    <secction id="about-head" class="section-p1">
        <img src="img/about/a4.png" alt="">
        <div>
            <h2>Who We Are ?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo facere aspernatur illo dolore dolor
                recusandae obcaecati omnis! Inventore sed, neque porro adipisci voluptas quibusdam assumenda ex laborum
                eligendi beatae corrupti nihil, illo impedit quam magnam animi quia saepe perspiciatis cum? Maxime id ab
                esse ducimus facilis temporibus, impedit at voluptate labore rerum nesciunt soluta repellat iusto aut
                nulla inventore </p>

            <abbr title="">Create stunning images with as much or as little control as you like thanks to a choice of
                Basic and Creative modes.</abbr>
            <br><br>

            <marquee bgcolor="#E3E6F3" loop="-1" scrollamount="5" width="100%">
                <h3><span> rymo. </span>seem to stimulate
                    e-commerce marketing objectives, depending on the product or service, and can be particularly
                    effective,
                    especially from a minimized cost perspective.</h3>
            </marquee>

        </div>
    </secction>

    <section id="feature" class="section-p1 " class="section-m1">
        <div class="fe-box">
            <img src="img/features/free shipping.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/online order.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/Save money.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/promotion.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/happy sell.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/support.jpg" alt="">
            <h6>Support</h6>
        </div>
    </section>

    <!-- <footer class="section-p1"></footer> -->

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up</h4>
            <p>Get E-mail updates about our latest shop <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your e-mail address">
            <button class="normal">sign up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="img/rymo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <p><strong>Phone :</strong> +91-212173314 / +91-212173314</p>

            <div class="social">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-twiter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <!-- <i class="fab fa-phone"></i> -->
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="signup.html">Sign in</a>
            <a href="cart.html">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Ordes</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play Store</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payments</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>&#169;2022, rymo..com. All Rights are Reserved </p>
        </div>

    </footer>


</body>
</html>