<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rymo.</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
</head>
<!-- &#8377; -->

<body>
    <section id="header">
        <a href="index.html"><img src="img/rymo..png " class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="indes.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a class="active" href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="blog-header">
        <div class="blog">
            <h2>#read more</h2>
            <p>Read all case studies about our products!</p>
        </div>
    </section>

    <section id="blog">
        <div class="box">
            <div class="blog-img">
                <img src="img/blog/b3.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Must-Have Skater Girl Items</h4>
                <p>Kickstarter man braid godard coloring book. Reclette waistcoat selfies yr wolf chartreuse hexagon
                    irony, godard...</p>
                <a href="#">CONTINUE READING</a>
                <h1>23/05</h1>
            </div>
        </div>
        <div class="box">
            <div class="blog-img">
                <img src="img/blog/b6.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Cotton Zip-Up</h4>
                <p>Kickstarter man braid godard coloring book. Reclette waistcoat selfies yr wolf chartreuse hexagon
                    irony, godard...</p>
                <a href="#">CONTINUE READING</a>
                <h1>23/05</h1>
            </div>
        </div>
        <div class="box">
            <div class="blog-img">
                <img src="img/blog/1.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Cotton Zip-Up</h4>
                <p>Kickstarter man braid godard coloring book. Reclette waistcoat selfies yr wolf chartreuse hexagon
                    irony, godard...</p>
                <a href="#">CONTINUE READING</a>
                <h1>23/05</h1>
            </div>
        </div>
        <div class="box">
            <div class="blog-img">
                <img src="img/blog/1.webp" alt="">
            </div>
            <div class="blog-details">
                <h4>The Cotton Zip-Up</h4>
                <p>Kickstarter man braid godard coloring book. Reclette waistcoat selfies yr wolf chartreuse hexagon
                    irony, godard...</p>
                <a href="#">CONTINUE READING</a>
                <h1>23/05</h1>
            </div>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <!-- <a href="#">2</a> -->
        <a href="blog2.html"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up</h4>
            <p>Get E-mail updates about our latest shop <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your e-mail address">
            <button class="normal">sign up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="img/rymo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <p><strong>Phone :</strong> +91-212173314 / +91-212173314</p>

            <div class="social">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-twiter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <!-- <i class="fab fa-phone"></i> -->
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="signup.html">Sign in</a>
            <a href="cart.html">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Ordes</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play Store</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payments</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>&#169;2022, rymo..com. All Rights are Reserved </p>
        </div>

    </footer>



</body>
</html>