<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rymo.</title>
    <link rel="shortcut icon" href="img/dropdown/shoelogo2.jpg">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
</head>
<!-- &#8377; -->

<body>
    <section id="header">
        <a href="index.html"><img src="img/rymo..png " class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="Men">
        <h4>Trade-in-Offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <a href="shop.html"><button>ShopNow</button></a>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/features/free shipping.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/online order.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/Save money.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/promotion.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/happy sell.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/support.jpg" alt="">
            <h6>Support</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured products</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/products/c1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Flower Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/c2.jpg" alt="">
                <div class="des">
                    <span>Zara</span>
                    <h5>Leaf Printed Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/c3.jpg" alt="">
                <div class="des">
                    <span>Parklees</span>
                    <h5>Floral Printed Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/c4.jpg" alt="">
                <div class="des">
                    <span>Rayon</span>
                    <h5>MarooFlower Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/c5.jpg" alt="">
                <div class="des">
                    <span>Aloha</span>
                    <h5>Pink Flower Printed Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/c6.jpg" alt="">
                <div class="des">
                    <span>Zara</span>
                    <h5>Brown and Blue Layered Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;3499</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/c7.jpg" alt="">
                <div class="des">
                    <span>KalkiFashion</span>
                    <h5>White Flowered Plazzo</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;800</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/c8.jpg" alt="">
                <div class="des">
                    <span>KalkiFashion</span>
                    <h5>Purple Flowered Top</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
        </div>
    </section>

    <section id="longbanner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% off</span> - All T-Shirts & Accessories</h2>
        <a href="shop.html">
        <button class="normal">Explore More</button>
        </a>
    </section>

    <section id="product1" class="section-p1">
        <h2>New Arrivals</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/products/n1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Solid Light Blue Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1499</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n2.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Solid Light Grey Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1499</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n3.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Solid White shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1499</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n4.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Camouflage Half-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;4000</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n5.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Jeans Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1300</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n6.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Grey Half Shorts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;800</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n7.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Brown Plain Double Pockets Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;3000</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n8.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Black Half shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;3000</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
        </div>
    </section>

    <section id="smallbanner" class="section-p1">
        <div class="banner-box">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 Free</h2>
            <span>The best classic dress is on sale at rymo.</span>
            <a href="shop.html">
            <button class="white">Learn More</button></a>
        </div>
        <div class="banner-box banner-box2">
            <h4>Summer</h4>
            <h2>Upcoming Season</h2>
            <!-- <span>The best classic dress is on sale at rymo.</span>  -->
            <a href="shop.html"><button class="white">Collection</button></a>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box">
            <h3>SEASONAL SALE</h3>
        </div>
        <div class="banner-box banner-box2">
            <h3>Classy Look</h3>
        </div>
        <div class="banner-box banner-box3">
            <h3>New Trendy Prints</h3>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up</h4>
            <p>Get E-mail updates about our latest shop <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your e-mail address">
            <button class="normal">sign up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="img/rymo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <p><strong>Phone :</strong> +91-212173314 / +91-212173314</p>

            <div class="social">
                <h4>Follow us</h4>
                <div class="icon">
                    <!-- <i class="fab fa-twiter"></i> -->
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <!-- <i class="fab fa-phone"></i> -->
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="about.html">About</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="contact.html">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="signup.html">Sign in</a>
            <a href="cart.html">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Ordes</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play Store</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payments</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>&#169;2022, rymo..com. All Rights are Reserved </p>
        </div>

    </footer>

<script src="script.js"></script>

</body>

</html>