<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rymo.</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
</head>
<!-- &#8377; -->

<body>
    <section id="header">
        <a href="index.html"><img src="img/rymo..png " class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="/img/shirts/s8.jpeg" width="100%" id="MainImg" alt="">

            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="img/shirts/s9.jpeg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/shirts/s8.jpeg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/shirts/s7.jpeg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/shirts/s8.jpeg" width="105%" class="small-img" alt="">
                </div>
            </div>
        </div>


        <div class="single-pro-details">
            <h6>Home / Shirts</h6>
            <h4>Men's Fashion Shirts</h4>
            <h3>&#8377;2999</h3>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Small</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add To Cart</button>
            <h4>Product Details</h4>
            <span>The Gildan Ultra Cotton T-shirt is made from a substantial 6.0 oz. per sq yd, fabric constructed from
                100% cotton, this classic fit preshrunk jersey knit provides unmatched comfort with each wear. Featuring
                a taped neck and shoulder, and a seamless double-needle collar, and available in a range of colors, it
                offers it all in the ultimate head turning package.</span>
        </div>
    </section>


    <section id="pagination" class="section-p1">
        <!-- <a href="#">1</a> -->
        <a href="shirtmenu.html"><i class="fal fa-long-arrow-alt-left"></i></a>
        <!-- <a href="#">2</a> -->
    </section>


    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/products/n1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Solid Light Blue Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1499</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n2.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Solid Light Grey Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1499</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n3.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Solid White shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1499</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro">
                <img src="img/products/n4.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Camouflage Half-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;4000</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>

    </section>


    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up</h4>
            <p>Get E-mail updates about our latest shop <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your e-mail address">
            <button class="normal">sign up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="img/rymo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <p><strong>Phone :</strong> +91-212173314 / +91-212173314</p>

            <div class="social">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-twiter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <!-- <i class="fab fa-phone"></i> -->
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign in</a>
            <a href="#">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Ordes</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play Store</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payments</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>&#169;2022, rymo..com. All Rights are Reserved </p>
        </div>

    </footer>


    <!-- <script> 
        var MainImg = document.getElementById("MainImg");
        var smallimg = document.getElementsByClassName("small-img");

        smallimg[0].onclick = function () {
            MainImg.src = smallimg[0].src;
        }
        smallimg[1].onclick = function () {
            MainImg.src = smallimg[1].src;
        }
        smallimg[2].onclick = function () {
            MainImg.src = smallimg[2].src;
        }
        smallimg[3].onclick = function () {
            MainImg.src = smallimg[3].src;
        }
     </script> -->




     <script src="script.js"></script>  
</body>
</html>