<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rymo.</title>
    <link rel="stylesheet" href="style.css">
</head>

<body id="bams">
    <section id="SignUp">
        <div class="center">
            <img src="img/rymo..png" alt="">
            <form method="post" action="server.php">
                <div class="login">
                    <input type="text" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="login">
                    <input type="email" required>
                    <span></span>
                    <label>Email id</label>
                </div>
                <div class="login">
                    <input type="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="login">
                    <input type="password" required>
                    <span></span>
                    <label>Confirm</label>
                </div>
                <a href="login.html">
                <input type="button" value="SignUp">
                </a>
                <div class="register"></div>
                <!-- <div class="register">
                    Not a member ? <a href="#">Signup</a>
                </div> -->
            </form>
        </div>
    </section>
</body>

</html>