<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rymo.</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<!-- &#8377; -->

<body>
    <section id="header">
        <a href="index.html"><img src="img/rymo..png " class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

<!--    <section id="page-header">
        <h2>#Keep Shoping</h2>
        <p>Look good with us</p>

    </section>-->

    <section id="product1" class="section-p1">

        <div class="pro-container">
            <div class="pro" onclick="window.location.href='shirt1.html';">
                <img src="img/shirts/s1.jpg" alt="">
                <div class="des">
                    <span>Flora</span>
                    <h5>Cartoon Flower Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro" onclick="window.location.href='shirt2.html';">
                <img src="img/shirts/s2.jpeg" alt="">
                <div class="des">
                    <span>Zara</span>
                    <h5>Leaf Printed Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro" onclick="window.location.href='shirt3.html';">
                <img src="img/watches/15.jpg" alt="">
                <div class="des">
                    <span>Parkless</span>
                    <h5>Floral Printed Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro" onclick="window.location.href='shirt4.html';">
                <img src="img/watches/8.jpg" alt="">
                <div class="des">
                    <span>Rayon</span>
                    <h5>Red Floral Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;2999</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro" onclick="window.location.href='shoes1.html';">
                <img src="img/watches/6.jpg" alt="">
                <div class="des">
                    <span>WoodLand</span>
                    <h5>Brown Shoes</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1399</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro" onclick="window.location.href='shoes2.html';">
                <img src="img/shirts/s6.jpeg" alt="">
                <div class="des">
                    <span>Zara</span>
                    <h5>Prussian Casual Shoes</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;3200</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro" onclick="window.location.href='shoes3.html';">
                <img src="img/shirts/s7.jpeg" alt="">
                <div class="des">
                    <span>PUMA</span>
                    <h5>White Casual Shoes</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;3000</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>
            <div class="pro" onclick="window.location.href='shoes4.html';">
                <img src="img/shirts/s8.jpeg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Black Ankle-length Shoes</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>&#8377;1800</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
            </div>

            <div class="pro-container">
                <div class="pro" onclick="window.location.href='watch1.html';">
                    <img src="img/shirts/s9.jpeg" alt="">
                    <div class="des">
                        <span>WROGN</span>
                        <h5>Men Black Analog Watch</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;4000</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
                <div class="pro" onclick="window.location.href='watch2.html';">
                    <img src="img/shirts/s10.jpeg" alt="">
                    <div class="des">
                        <span>TITAN</span>
                        <h5>Men White Dial Analog Watch</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;3500</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
                <div class="pro" onclick="window.location.href='watch3.html';">
                    <img src="img/shirts/s11.jpg" alt="">
                    <div class="des">
                        <span>TITAN</span>
                        <h5>Women White Dial Analog Watch</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;3200</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
                <div class="pro" onclick="window.location.href='watch4.html';">
                    <img src="img/shirts/s12.jpg" alt="">
                    <div class="des">
                        <span>FOSSIL</span>
                        <h5>Black Leather Analog Watch</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;2800</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
                <div class="pro" onclick="window.location.href='tshirt1.html';">
                    <img src="img/shirts/s13.jpg" alt="">
                    <div class="des">
                        <span>Astoria</span>
                        <h5>Blue T-shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;1300</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
                <div class="pro" onclick="window.location.href='tshirt2.html';">
                    <img src="img/shirts/s14.jpg" alt="">
                    <div class="des">
                        <span>Astoria</span>
                        <h5>Maroon T-shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;1300</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
                <div class="pro" onclick="window.location.href='tshirt3.html';">
                    <img src="img/shirts/s15.jpg" alt="">
                    <div class="des">
                        <span>Astoria</span>
                        <h5>White T-shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;1300</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
                <div class="pro" onclick="window.location.href='tshirt4.html';">
                    <img src="img/shirts/s16.jpg" alt="">
                    <div class="des">
                        <span>Astoria</span>
                        <h5>Olive Green T-shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>&#8377;3000</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a> <!--   cart = class   -->
                </div>
            </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="shop.html"><i class="fal fa-long-arrow-alt-left"></i></a>
        <!-- <a href="#">2</a> -->
        <!-- <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a> -->
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up</h4>
            <p>Get E-mail updates about our latest shop <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your e-mail address">
            <button class="normal">sign up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="img/rymo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <p><strong>Phone :</strong> +91-212173314 / +91-212173314</p>

            <div class="social">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-twiter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <!-- <i class="fab fa-phone"></i> -->
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="signup.html">Sign in</a>
            <a href="cart.html">View cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Ordes</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play Store</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payments</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>&#169;2022, rymo..com. All Rights are Reserved </p>
        </div>

    </footer>


</body>
</html>